
.App{

  text-align:center;

}
.title{
  font-weight:400;
  font-size:40px;
  font-family: sans-serif;


}
.red{
  color:red;
  
}

.logopub {
  height: 40vmin;
  pointer-events: none;
  width: 700px;
  height:700px;
}
.logosrc {
  height: 40vmin;
  pointer-events: none;
  width: 900px;
  height:900px;
}

@media (prefers-reduced-motion: no-preference) {
  .logopub {
    animation: App-logo-spin infinite 20s linear;
  }
  .logosrc {
    animation: App-logo-spin reverse 20s linear;
  }

}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

